<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Administrative signin</h4>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="login" class="control-label col-sm-2">Login:</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="login" placeholder="login">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-sm-2">Password:</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="password">
                    </div>
                </div>
                <div class="row" style="height: 10px;"></div>
                <div class="form-group">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-7" style="text-align: center;">
                        <button type="button" class="btn btn-warning btn-block"><strong>Sign in</strong>
                        </button>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </form>
        </div>
    </div>
</div>